.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

secrets.yaml

tfplan
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform/
.terraform.lock.hcl
terraform.tfplan
terraform.tfplan.json

.idea/
*.iml

.DS_Store
Thumbs.db

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.env
*.env.*

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

node_modules/
dist
coverage

*.sh

package.json.*
!package.json 